.card {
    // makes it seem like the card is coming out to you
    perspective: 150rem;
    -moz-perspective: 150rem;

    
    &__side {
        background-color: orangered;
        height: 50rem;
        transition: all .8s;
        
        &--front {
            background-color: orangered;
        }
    
        &--back {
            background-color: green;
            transform: rotateY(180deg);
        }
    }

    // rotate card when hover
    // --> only applies to front side - because only front side rotates
    //  - backside already at 180 degree;
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}