// For tablet and mobile - remove skew (not enough space) 
.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .60);
    border-radius: 3px;
    padding: 6rem;
    padding-bottom: 9rem;
    // offset transform - translate of __shape
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    
    @include respond(phone) {
        transform: skewX(0)
    }

    // round image
    &__shape {
        width: 15rem;
        height: 15rem;
        // use float left to have rest of content float around
        float: left;

        // best way to move floated element - transform + translate
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            // make content to be a circle
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);           
            // make the outside shape round 1: radius 2: center horizontally 3: center vertically
            // --> Element needs to be floated & defined dimensions (height and width)
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            border-radius: 0;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text{
        transform: skewX(12deg);
        
        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        //  2: puts text below image
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        // add filter to image
        filter: blur(3px) brightness(80%);
    }
}